on:
  push:
    paths:
      - '**.go'
      - 'go.mod'
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'

name: Test & Lint

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.23'
          cache: false
      - run: go get
      - run: go generate ./...
      - run: go test -v -race ./...

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pull_request: [false, true]
        include:
          - pull_request: true
            event: pull_request
          - pull_request: false
            event: push
    steps:
      - name: Code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version: '^1.23'
      - run: go get
      - run: go generate ./...
      - name: Go vet
        run: go vet ./...

      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: 'v1.61.0'
          args: '--timeout 9999s'
          only-new-issues: ${{ matrix.pull_request }}
          skip-save-cache: true
